# frozen_string_literal: true

App.draw_routes do
  # This defines the landing page of your website.
  root "home#index"

  # Additional routes can be created by using `route`.
  # For example to route `/projects` to the index method of ProjectsController,
  # you can do this:
  #
  # route "/projects", to: "projects#index"
end
